@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body, html {
  background-color: black;
}

/* Section "quem sou" e "nav-menu" -----------------*/
.quem_sou {
  background-color: #bb83ff;
  background-image: linear-gradient(160deg, #bb83ff 0%, #9c24ff 20%, #0c000c 50%);
  width: 100%;
  border-bottom: 0.2rem solid #bb83ff;
}

.quem_sou .container-fluid {
  width: 80%;
  height: 100%;
  padding: 0.5rem 0rem 5rem 0rem;
}

.quem_sou .container-fluid .menu {
  width: 100%;
  padding: 0.5rem;
}

.menu .navbar .container-fluid {
  width: 95%;
  padding: 0.5rem;
}

.menu .navbar .container-fluid #logo_fj {
  height: 11.5rem;
}

.menu .navbar .container-fluid .navbar-nav a {
  color: #64ffac;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.menu .navbar .container-fluid .navbar-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.quem_sou .container-fluid .informacoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 2rem 0rem 7rem 0rem;
}

.quem_sou .container-fluid .infos {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 4rem 0 1rem;
}

.infos .title h2 {
  color: #64ffac;
  font-family: "Ubuntu Mono", monospace;
  padding: 0.5rem 0rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 0.2rem solid #64ffac;
}

.infos .text p {
  color: #64ffac;
  padding: 0.5rem 0rem 0rem 0rem;
  font-family: "Ubuntu Mono", monospace;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 500;
}

.quem_sou .container-fluid .my_img {
  padding: 0.5rem 1rem 0 2rem;
}

.my_img img {
  height: 26rem;
}

/* Section "my-tools" ---------------------------*/
.my_tools {
  background-color: #bb83ff;
  background-image: linear-gradient(10deg, #bb83ff 0%, #9c24ff 20%, #0c000c 50%);
  width: 100%;
}

.my_tools .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
  padding: 4rem 0rem 6rem 0rem;
}

.my_tools .container-fluid .title {
  padding-bottom: 1.5rem;
}

.my_tools .container-fluid .title h3 {
  color: #64ffac;
  font-family: "Ubuntu Mono", monospace;
  padding: 0rem 0.7rem 0.5rem 0.7rem;
  font-size: 2.5rem;
  font-weight: 600;
  border: 2px solid #64ffac;
  border-top: none;
}

.my_tools .container-fluid .tecnologias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.my_tools .container-fluid div {
  padding: 1rem;
}

.my_tools .container-fluid div .img_tools img {
  height: 6.5rem;
  transition: all 1s;
}

.my_tools .container-fluid div .img_tools img:hover {
  transform: scale(1.3, 1.3);
}

/*Responsividade------------------------------------*/
@media screen and (max-width: 992px) {
  /* Section "quem sou" e "nav-menu" -----------------*/
  .quem_sou .container-fluid {
    width: 95%;
    padding: 0.5rem 0rem 3rem 0rem;
  }

  .menu .navbar .container-fluid .navbar-nav a {
    font-size: 1.3rem;
  }

  .infos .title h2 {
    font-size: 2.8rem;
  }

  .infos .text p {
    font-size: 1.3rem;
  }

  .quem_sou .container-fluid .my_img {
    padding: 0.5rem 0.5rem 0rem 0.1rem;
  }

  .my_img img {
    height: 20rem;
  }

  /* Section "my-tools" ---------------------------*/
  .my_tools .container-fluid {
    width: 90%;
  }

  .my_tools .container-fluid .title h3 {
    font-size: 2.3rem;
  }

  .my_tools .container-fluid div {
    padding: 0.5rem;
  }

  .my_tools .container-fluid div .img_tools img {
    height: 6rem;
    transition: all 1s;
  }

  .my_tools .container-fluid div .img_tools img:hover {
    transform: scale(1.3, 1.3);
  }
}
@media screen and (max-width: 768px) {
  /* Section "quem sou" e "nav-menu" -----------------*/
  .quem_sou .container-fluid {
    width: 95%;
    padding: 0.5rem 0rem 3rem 0rem;
  }

  .menu .navbar .container-fluid #logo_fj {
    height: 10rem;
  }

  .menu .navbar .container-fluid .navbar-collapse a {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .menu .navbar .container-fluid .navbar-nav a {
    font-size: 1.2rem;
  }

  .quem_sou .container-fluid .informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem 5rem 0rem;
  }

  .quem_sou .container-fluid .infos {
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .infos .title h2 {
    font-size: 2.6rem;
  }

  .infos .text p {
    font-size: 1.2rem;
  }

  .quem_sou .container-fluid .my_img {
    padding: 1rem 1rem 0rem 1rem;
  }

  .my_img img {
    height: 20rem;
  }

  /* Section "my-tools" ---------------------------*/
  .my_tools .container-fluid {
    width: 90%;
  }

  .my_tools .container-fluid .title h3 {
    font-size: 2.2rem;
  }

  .my_tools .container-fluid div {
    padding: 0.5rem;
  }

  .my_tools .container-fluid div .img_tools img {
    height: 4.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
